# Data Preprocessing

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/jabdurrahmaan/smart-meter-benchmark/main/datasets/daily_dataset_small.csv')
df

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000131,2011-12-15,0.4850,0.432045,0.868,22,0.239146,9.505,0.072
1,MAC000131,2011-12-16,0.1415,0.296167,1.116,48,0.281471,14.216,0.031
2,MAC000131,2011-12-17,0.1015,0.189812,0.685,48,0.188405,9.111,0.064
3,MAC000131,2011-12-18,0.1140,0.218979,0.676,48,0.202919,10.511,0.065
4,MAC000131,2011-12-19,0.1910,0.325979,0.788,48,0.259205,15.647,0.066
...,...,...,...,...,...,...,...,...,...
4866,MAC000235,2014-01-28,0.1735,0.279000,1.114,48,0.241830,13.392,0.066
4867,MAC000235,2014-01-29,0.1865,0.320104,1.074,48,0.280150,15.365,0.068
4868,MAC000235,2014-01-30,0.3405,0.418750,1.277,48,0.293288,20.100,0.075
4869,MAC000235,2014-01-31,0.1635,0.325646,1.644,48,0.326863,15.631,0.058
4870,MAC000235,2014-02-01,0.4220,0.422000,0.422,1,0.000000,0.422,0.422

In [2]:
# Move and rename column 'day', create column 'id'
df.insert(0, "id", range(1, len(df) + 1))

cols = df.columns.tolist()
cols.insert(0, cols.pop(cols.index('id')))
cols.insert(1, cols.pop(cols.index('day')))

df = df[cols]
df = df.rename(columns={'day': 'energy_date'})

df

,id,energy_date,LCLid,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,1,2011-12-15,MAC000131,0.4850,0.432045,0.868,22,0.239146,9.505,0.072
1,2,2011-12-16,MAC000131,0.1415,0.296167,1.116,48,0.281471,14.216,0.031
2,3,2011-12-17,MAC000131,0.1015,0.189812,0.685,48,0.188405,9.111,0.064
3,4,2011-12-18,MAC000131,0.1140,0.218979,0.676,48,0.202919,10.511,0.065
4,5,2011-12-19,MAC000131,0.1910,0.325979,0.788,48,0.259205,15.647,0.066
...,...,...,...,...,...,...,...,...,...,...
4866,4867,2014-01-28,MAC000235,0.1735,0.279000,1.114,48,0.241830,13.392,0.066
4867,4868,2014-01-29,MAC000235,0.1865,0.320104,1.074,48,0.280150,15.365,0.068
4868,4869,2014-01-30,MAC000235,0.3405,0.418750,1.277,48,0.293288,20.100,0.075
4869,4870,2014-01-31,MAC000235,0.1635,0.325646,1.644,48,0.326863,15.631,0.058
4870,4871,2014-02-01,MAC000235,0.4220,0.422000,0.422,1,0.000000,0.422,0.422

In [3]:
# Save csv file locally
df.to_csv('/Users/jafarabdurrahmaan/Dropbox/00_Uni/Masterthesis/A_Thesis/1_Thesis Components/13_Benchmark Study Components/2_TSDB/QuestDB/iter2/energy.csv', index=False)