# Import libraries

In [48]:
import psycopg2
import time

# Create client connection

In [ ]:
CONNECTION = "postgres://tsdbadmin:1U6n+#0rnbV3XT@c3eawsc7c1.cmk09ajo4t.tsdb.cloud.timescale.com:35687/tsdb?sslmode=require"
with psycopg2.connect(CONNECTION) as conn:
    cursor = conn.cursor()
    # use the cursor to interact with your database
    # cursor.execute("SELECT * FROM table")

# Simple Retrieval

## First Query Workload

In [51]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
simple_retrieval = "SELECT energy_min, energy_max FROM energy_consumption WHERE LCLid = 'MAC000131' AND time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000';"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(simple_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.99 seconds
(0.064, 0.312)
(0.065, 0.299)
(0.064, 0.7829999999999999)
(0.066, 1.1619999)
(0.065, 0.742)

## Second Query Workload

In [52]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
simple_retrieval = "SELECT energy_min, energy_max FROM energy_consumption WHERE LCLid = 'MAC000131' AND time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000';"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(simple_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.32 seconds
(0.064, 0.312)
(0.065, 0.299)
(0.064, 0.7829999999999999)
(0.066, 1.1619999)
(0.065, 0.742)

## Third Query Workload

In [53]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
simple_retrieval = "SELECT energy_min, energy_max FROM energy_consumption WHERE LCLid = 'MAC000131' AND time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000';"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(simple_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.16 seconds
(0.064, 0.312)
(0.065, 0.299)
(0.064, 0.7829999999999999)
(0.066, 1.1619999)
(0.065, 0.742)

## Overall Execution Time for Simple Retrieval

In [54]:
print(f"Average Query Execution Time: {((0.99+0.22+0.16)/3)*1000} milliseconds")

Average Query Execution Time: 456.66666666666663 milliseconds

# Filter and Aggregation

## First Query Workload

In [55]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
aggregated_retrieval = "SELECT LCLid, AVG(energy_sum) as sum, AVG(energy_median) as median from energy_consumption WHERE time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000' GROUP BY LCLid ORDER BY LCLid;"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(aggregated_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.10 seconds
('MAC000131', 10.09635616356164, 0.12750958904109602)
('MAC000132', 14.378882194794512, 0.21113150684931511)
('MAC000221', 13.451909588219179, 0.1758410958904109)
('MAC000228', 7.403572603561642, 0.11100273972602746)
('MAC000234', 11.53161369863014, 0.20387260273972607)

## Second Query Workload

In [56]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
aggregated_retrieval = "SELECT LCLid, AVG(energy_sum) as sum, AVG(energy_median) as median from energy_consumption WHERE time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000' GROUP BY LCLid ORDER BY LCLid;"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(aggregated_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.11 seconds
('MAC000131', 10.09635616356164, 0.12750958904109602)
('MAC000132', 14.378882194794512, 0.21113150684931511)
('MAC000221', 13.451909588219179, 0.1758410958904109)
('MAC000228', 7.403572603561642, 0.11100273972602746)
('MAC000234', 11.53161369863014, 0.20387260273972607)

## Third Query Workload

In [57]:
# Create cursor object to execute SQL queries
cursor = conn.cursor()

# Query
aggregated_retrieval = "SELECT LCLid, AVG(energy_sum) as sum, AVG(energy_median) as median from energy_consumption WHERE time >= '2012-06-01 00:00:00.000000' AND time < '2013-06-01 00:00:00.000000' GROUP BY LCLid ORDER BY LCLid;"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(aggregated_retrieval)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.12 seconds
('MAC000131', 10.09635616356164, 0.12750958904109602)
('MAC000132', 14.378882194794512, 0.21113150684931511)
('MAC000221', 13.451909588219179, 0.1758410958904109)
('MAC000228', 7.403572603561642, 0.11100273972602746)
('MAC000234', 11.53161369863014, 0.20387260273972607)

## Overall Execution Time for Filter and Aggregation

In [58]:
print(f"Average Query Execution Time: {((0.10+0.11+0.12)/3)*1000} milliseconds")

Average Query Execution Time: 110.0 milliseconds

# Metadata

In [32]:
# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Query
query = "SELECT column_name, data_type From information_schema.columns WHERE table_name = 'energy';"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.44 seconds
('time', 'timestamp with time zone')
('lclid', 'text')
('energy_median', 'double precision')
('energy_mean', 'double precision')
('energy_max', 'double precision')
('energy_count', 'double precision')
('energy_std', 'double precision')
('energy_sum', 'double precision')
('energy_min', 'double precision')

In [35]:
# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Query
query = "SELECT * From information_schema.tables WHERE table_type = 'BASE TABLE'"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 2.18 seconds
('tsdb', 'public', 'conditions', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('tsdb', '_timescaledb_internal', '_hyper_1_1_chunk', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('tsdb', '_timescaledb_internal', '_hyper_6_5_chunk', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('tsdb', 'public', 'energy', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('tsdb', 'pg_catalog', 'pg_type', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

In [38]:
# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Query
query = "SELECT * From pg_stat_all_indexes"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 1.36 seconds
(18808, 18809, 'pg_toast', 'pg_toast_18805', 'pg_toast_18805_index', 0, 0, 0)
(16599, 16600, 'pg_toast', 'pg_toast_16596', 'pg_toast_16596_index', 0, 0, 0)
(16596, 16601, '_timescaledb_catalog', 'dimension_partition', 'dimension_partition_dimension_id_range_start_key', 4, 0, 0)
(18805, 18811, 'public', 'conditions', 'conditions_time_idx', 0, 0, 0)
(18815, 18816, 'pg_toast', 'pg_toast_18812', 'pg_toast_18812_index', 0, 0, 0)

In [39]:
# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Query
query = "SELECT show_chunks('energy_consumption');"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchmany(5)

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 0.67 seconds
('_timescaledb_internal._hyper_7_123_chunk',)
('_timescaledb_internal._hyper_7_124_chunk',)
('_timescaledb_internal._hyper_7_125_chunk',)
('_timescaledb_internal._hyper_7_126_chunk',)
('_timescaledb_internal._hyper_7_127_chunk',)

In [47]:
# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Query
query = "SELECT hypertable_index_size('energy_consumption_time_idx');"

# Measure start of execution time
start_time = time.time()

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Commit transaction
conn.commit()

# Measure query execution time
execution_time = time.time() - start_time

# Print execution time
print(f"Query Execution Time: {execution_time:.2f} seconds")

# Print results
for row in results:
    print(row)

# Close cursor and connection
cursor.close()

Query Execution Time: 1.34 seconds
(13459456,)